body{
    color: #000000;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;    background-color: #FFFFFF;
    background-size: cover;
    padding: 20px;
}

nav{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: left;
}

nav a:hover{
    background: mistyrose;
}

.current_pg{
    background: #ffd9b3;
    text-transform: uppercase;
}

.main_img{
    display: block;
    align-self: center;
    width: auto;
    height: 200px;
    border: 5px solid #000000;
    margin: 10px;
}

main{
    margin-bottom: 100px;
}


h1{
    color: #aa1111;
    font-size: 3em;
    text-align: center;
}


h2{
    text-align:center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2em;
}


h3{
    color: #aa1111;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
}

img{
    height: 350px;
    width: auto;
    padding: 10px;
}

video{
    height: 350px;
    width:auto;
    padding: 10px;
}

.landing_page_container{
    display: flex;
    flex-direction:row;
    flex-flow:wrap;
    justify-content:center;
    align-items:center;
}

.planning_page_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.planning_page_container div img{
    height: 300px;
    width: 270px;
}

#event_text, #hotels_text{
    align-self: center;
}

.fun_page_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.transportation_page_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#landing_vid{
    grid-column: 1/4;
}

footer{
    width:100%;
    text-align: center;
    color: #000000;
}
